* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* outline: solid; */
    border: 1px black solid;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 400px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
    flex-direction: column;
    min-width: 225px;
    gap: 0.5rem;
}

.display {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    min-height: 100px;
    border-radius: 8px;
}

.btn-row {
    display: flex;
    flex-grow: 1;
    width: 100%;
    min-height: 50px;
    gap: 8px;
}

.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
}

.cle, .equ {
    background-color: #a5a5a5;
}

.plu, .min, .mul, .div {
    background-color: #fda009;
    color: #fff;
}

.zer, .one, .two, .thr,
.fou, .fiv, .six, .sev,
.eig, .nin {
    background-color: #343434;
    color: #fff;
}

/* .btn-box.equal {
    flex: 2 1 0%;

}

.btn-box.zero, .btn-box.divide {
    flex: 1 1 0%;
} */